<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'leader' %>
      <p>Vul hier je e-mail adres in, dan sturen we je een link waarmee je kan doorgeven of je er bij bent.</p>
      <%= form_with scope: :guest, url: guests_path, local: true do |form| %>
      <div class="row">
        <div class="col-md-12">
          <%= errors_for(@guest) %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <%= form.email_field :email, id: 'guest_email', placeholder: 'E-mail', class: 'form-control', autofocus: true, required: true %>
        </div>
      </div>

      <div class="row guests-buttons">
        <div class="offset-md-3 col-md-6 text-center">
          <%- if ENV['RECAPTCHA_SECRET_KEY'].blank? -%>
          <%= form.submit 'Verder', class: 'btn btn-primary', data: { disable_with: 'Sending...' } %>
          <%- else -%>
          <%= invisible_recaptcha_tags text: 'Continue', class: 'btn btn-primary', data: { disable_with: 'Sending...' } %>
          <%- end -%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
