<section id="welcome-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">
      <span><%= t :wedding_couple_name1 %></span><span class="crazyhearts">N</span><span><%= t :wedding_couple_name2 %></span>
    </h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
    </p>
    <p>
      <%= link_to 'RSVP HIER', new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
    </p>
  </div>
</section>
