<section id="welcome-index-when-where">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Waar <span class="crazyhearts secondary-color">N</span> Wanneer</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-3 text-center">
        <h2><%= link_to 'wedding.ics' do -%>
            <%= render partial: 'calendar_svg' %>
          <%- end %></h2>
        <p>
          <strong><%= t :wedding_date %></strong><br>



        &nbsp;<br>
        </p>
        <p><%= link_to 'Voeg aan je agenda toe', 'wedding.ics' %></p>
      </div>
      <div class="col-md-3 text-center">
        <h2><%= link_to @google_maps_url, target: "_blank" do -%>
            <%= render partial: 'map_marker_svg' %>
          <%- end %></h2>
        <p>
          <%= render partial: 'wedding_address' %>
        </p>
        <p>
          <%= link_to 'Google Maps', @google_maps_url, target: "_blank" %>
        </p>
      </div>
    </div>
  </div>
</section>
